{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}


<div class="create-form">
<h2>Create Room</h2>
    <form action="{% url 'create_room' %}" method="post">
        {% csrf_token %}
        <label for="username">Enter your username:</label>
        <input type="text" id="username" name="username">

        <label for="room">Create Room:</label>
        <input type="text" id="room" name="room">
        
        <button type="submit">Enter</button>
    </form>
</div>    

{% if messages %}
    <script>
        setTimeout(function() {
        }, 3000);
    </script>
{% endif %}

